body
{
    font-family: Calibri;  
}

h2
{
    color: #FE2E9A;
}

ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li a
{
    width: 250px;
    height: 50px;
    text-decoration: none;
    font-size: 15px; 
    line-height:50px;
    font-weight: bolder;
}

.menu li
{
    display: inline;
}

.menu li a
{   
    display:inline-block;    
    background-color: #F3F781;
    color: #FF4000;
    margin-bottom: 5px;
    text-align: center;
    border: 1px solid #FFBF00;
}

.menu li a:hover
{
    background-color: #FFBF00;
}

.items-inicio li a
{
    display: block;
    background-color: #F5A9E1;
    color:#6A0888;
    margin-bottom: 10px;
    margin-top: 10px;    
    text-align: right;
    border: 1px dotted #6A0888;       
}

.items-inicio p
{
    margin-right:20px;
    margin-block-start: auto;
}

.items-inicio li a:hover
{
    background-color: #FE2E9A;
}

